
  .text-color {
    background: linear-gradient(92.7deg,#56d364 -1.37%,#79c0ff 78.71%);
    -webkit-background-clip: text;
    color: transparent;
  } 


  .glass {
    background-color: transparent;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
  }

  .card {
    background-color: #21262d;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
  }
  
  .github-button:hover {
    background-color: #1c2023;
    cursor: pointer;
  }
 
  @media (max-width: 768px) {
    img {
      max-width: 50%;
    }
  }