.Hero {
    background-image: url(../assets/hero_bg.svg);
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .glass {
    background-color: #21262d;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
  }

  
  
  .github-button:hover {
    background-color: #1c2023;
    cursor: pointer;
  }
  
 
  @media (max-width: 768px) {
    img {
      max-width: 50%;
    }
  }